* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 145%;
    color: rgb(75, 81, 93);
}

body {
    background-color: rgb(253, 253, 254);
    margin: 60px 0px;
    min-width: 300px;
}

h1, h2, h3, h4 {
    font-family: "Open Sans", sans-serif;
    color: rgb(36, 41, 46);
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
    color: #0c0c0cfa;

}

h2 {
    font-size: 40px;
    font-weight: 600;
    margin: 60px 0px 10px 0px;
    color: #0c0c0cfa;

}

h3 {
    font-size: 24px;
    font-weight: 400;
    margin: 40px 0px 10px 0px;
    padding-bottom: 12px;
    border-bottom: 2px solid rgb(229,232,235);
    color: #0c0c0cfa;

}

h4 {
    font-size: 20px;
    font-weight: 400;
    margin: 40px 0px 10px 0px;
    color: #0c0c0cfa;}

ul {
    padding-left: 20%;
    margin: 0px 0px;
    list-style-position: inside;
}

li {
    font-size: 18px;
    margin-top: 15px;
    text-align: left;
    color: #0c0c0cfa;
    list-style-position: inside;

}


li:first-of-type {
    margin-top: 0px;
}

a {
    color: rgb(68, 128, 200)
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

audio {
    width: 100%;
}

audio:focus {
    outline: none;
}

select {
    margin: auto;
    margin-bottom: 20px;
    display: block;
    font-size: 20px;
    width: 170px;
}

hr {
    margin: 60px 0px;
    border-bottom: 1px solid rgb(205, 208, 211);
}

p {
    margin: 15px 0px 20px 0px;
    padding-right: 5px;
    text-align: center;
    color: #0c0c0cfa;}

.section {
    margin-bottom: 100px;
    width: 90%;
    margin: auto;
    max-width: 660px;
}

.toc > li {
    margin-top: 0px;
}

.text {
    font-size: 16px;
    text-align: center;
    font-style: italic;
    line-height: 120%;
}

.text2 {
    position: absolute;
    bottom: 60px;
}

legend { display: none; }

.labeled-audio {
    text-align: center;
    display: inline;
    max-width: 350px;
    min-width: 275px;
    flex: 1 1 275px;
    margin: 5px 10px;
    position: relative;
}

.labeled-audio2 {
    min-height: 135px;
}

.labeled-audio2 > audio {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.labeled-audio > p {
    margin: 10px 0px 2px;
}

.playlist {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 40px 0px 0px;
}

.playlist-title {
    display: block;
    margin: 0px 20%;
    margin-top: 30px;
}

div.a {
    text-align: center;
  }
  
  div.b {
    text-align: left;
  }
  
  div.c {
    text-align: right;
  }
  
  div.c {
    text-align: justify;
  }

  input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Open Sans", sans-serif;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    font-size: 14px;
  }

  #firstpagebutton {
    font-family: "Open Sans", sans-serif;
    background: #000000fa;
    color: #fffffffa;
    font-size: 18px;
    padding: 9px;
    border-radius: 3px;
    width:  150px;
  }

  #enter {
    font-family: "Open Sans", sans-serif;
    background: #000000fa;
    color: #fffffffa;
    font-size: 18px;
    padding: 9px;
    border-radius: 2px;
    width: 100px;
  }


  #submit {
    font-family: "Open Sans", sans-serif;
    background: #000000fa;
    color: #fffffffa;
    font-size: 18px;
    padding: 12px;
    border-radius: 3px;
    width: 350px;
    font-weight: bold;
  }


  select {
    border: none;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #5c5c5cfa;
    background: #f0f0ec;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    font-size: 14px;
  }

  table {
    width: 90%;
    border: 1px solid black;
    

  }
  
  td {
    height: 50px;
    border: 1px solid black;
    font-size: 17px;
    text-align: center  ;
    color: #0c0c0cfa;


  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }

  .tacbox {
    height: 350px;
    display:block;
    margin: 1em;
    border: 3px solid #ddd;
    background-color: #eee;

  }
/*   
  input {
    height: 2em;
    width: 2em;
    vertical-align: middle;
  } */

  label {
    display: block;
    padding-top: 0px;
    padding-left: 1px;
    padding-bottom: 3px;
    text-indent: 0px;
  }

  #checkbox2 {
    height: 2em;
    width: 2em;
    /* text-align: center; */
    vertical-align: middle;
    -webkit-appearance:checkbox;
    display: inline-block;


  }

  .tab {
    display: none;
  }